body {
    background-color: #161616;
}
.my-text {
    color: #747474;
    cursor: default;
}
.my-col {
    background-color: #272727;

    margin-top: 50px;
    margin-bottom: 50px;
}

.submit-btn {
    background-color: #14A76C;
    color: #FFFFFF;
}

.submit-btn:hover {
    background-color: #13865B;
    color: #EEEEEE;
}

.delete-btn {
    background-color: #FF652F;
    color: #FFFFFF;
}

.delete-btn:hover {
    background-color: #EE541E;
    color: #EEEEEE;
}

.update-btn {
    background-color: #FFE400;
    color: #222222;
}

.update-btn:hover {
    background-color: #DDC200;
    color: #111111;

}

.my-tr {
    border-color: #747474;
}

.my-tr:hover {
    background-color: #232323;
}

a {
    color: #747474
}

a:hover {
    color: #636363;
    text-decoration: none;
}