{% extends 'todo/base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 my-col rounded">
            <h1 class="text-center my-text mt-2">ToDo App</h1>
            <div class="row justify-content-center mt-3">


                <form method="POST" class="col-md-12 mx-auto">
                    <div class="input-group">
                        {% csrf_token %}
                        {{ form }}
                        <button class="btn submit-btn">Submit</button>
                    </div>
                </form>
            </div>
            <div class="row justify-content-center mt-4">
                <table class="table table-borderless ">
                    {% for task in tasks %}
                    <tr class="my-tr">

                        {% if task.completed %}
                        <td class="my-text"><s><a href="{% url 'task_completed' task.id %}">{{ task.title }}</a></s><td>
                        {% else %}
                        <td class="my-text"><a href="{% url 'task_completed' task.id %}">{{ task.title }}</a><td>
                        {% endif %}

                        <td class="d-flex mr-1 justify-content-end">
                            <a class="btn delete-btn mr-1" href="{% url 'task_delete' task.id %}">-</a>
                            <a class="btn update-btn mr-1" href="{% url 'task_update' task.id %}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}